body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    background-color: #f8f9fa;
    color: #333;
    margin: 0;
    padding: 0;
    text-align: center;

    min-height: 100vh;

    display: flex;
    flex-direction: column;
    list-style-position: inside;
}
header {
    background: #007bff;
    color: white;
    padding: 20px;
}
nav ul {
    list-style: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin: 0 15px;
}
nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
footer {
    margin-top: auto;
    padding: 10px;
    background: #007bff;
    color: white;
}